@page "{folderId:guid}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NoteApp.UI.Extensions
@model NoteApp.UI.Pages.FolderModel
@{
    ViewData["Title"] = "Папка";
}

<h1>@Model.FolderName</h1>
<form method="get">
    <input type="hidden" name="folderId" value="@Model.FolderId"/>

    <div class="mb-3">
        <label  class="form-label">Сортировать по</label>
        <select name="sort" onchange="this.form.submit()" class="form-select">
            <option value="UpdatedAt" selected="@(Model.Sort == "UpdatedAt")">-</option>
            <option value="Importance" selected="@(Model.Sort == "Importance")">Важности</option>
        </select>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" name="descending" value="true" @(Model.Descending ? "checked" : "") onchange="this.form.submit()" class="form-check-input" type="checkbox" />
        <label class="form-check-label">По убыванию</label>
    </div>
</form>
@{
    ViewData["FolderName"] = "";
    ViewData["EmptyMessage"] = "Заметок не найдено.";
}

<partial name="_NotesList" model="Model.Notes" />

<div class="mb-3" style="margin-top:20px;">
    <a asp-page="/CreateNote" asp-route-folderId="@Model.FolderId" asp-route-folderName="@Model.FolderName" class="btn btn-outline-primary">
        Создать заметку
    </a>
    <a asp-page="/Index" class="btn btn-outline-secondary">На главную</a>
</div>